@font-face {
  font-family: 'OpenSans Bold';
  src: url('/fonts/opensans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans Bold Italic';
  src: url('/fonts/opensans/OpenSans-BoldItalic.ttf') format('truetype');
  }
  
@font-face {
  font-family: 'OpenSans Extra Bold';
  src: url('/fonts/opensans/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans Extra Bold Italic';
  src: url('/fonts/opensans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans Italic';
  src: url('/fonts/opensans/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans Light';
  src: url('/fonts/opensans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans Light Italic';
  src: url('/fonts/opensans/OpenSans-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans Regular';
  src: url('/fonts/opensans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans Semi Bold';
  src: url('/fonts/opensans/OpenSans-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans Semi Bold Italic';
  src: url('/fonts/opensans/OpenSans-SemiboldItalic.ttf') format('truetype');
}
